body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
}

.display {
  width: 800px;
  height: 140px;
  border: 1px solid #000;
  overflow: auto;
}

.keyboardModel {
  width: 805px;
  border: 1px solid #000;
}

.keyboardRow01 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
  align-content: space-between;
  gap: 5px 5px;
  margin: 0px 0px 0px 0px;
  width: 805px;
}

.keyboardRow02 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-content: space-between;
  gap: 5px 5px;
  margin: 0px 0px 0px 0px;
  width: 805px;
}

.keyboardRow03 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
  align-content: space-between;
  gap: 5px 5px;
  margin: 0px 0px 0px 0px;
  width: 805px;
}

.keyboardRow04 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.7fr 2.8fr;
  align-content: space-between;
  gap: 5px 5px;
  margin: 0px 0px 0px 0px;
  width: 805px;
}

.keyboardRow05 {
  display: grid;
  grid-template-columns: 1fr 1fr 10fr 1.7fr 1fr 1fr 1fr 1fr;
  align-content: space-between;
  gap: 5px 5px;
  margin: 0px 0px 0px 0px;
  width: 805px;
}

.keyModel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;
  background: #FFFFFF;
  border: 1px solid #000;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  margin: 5px;
  padding: 10px;
  transition: 0.3s;
}

h4 {
  margin: 5px;
}

.activ {
  border-radius: 14px;
  background: rgb(170, 170, 170);
  transition: 0.3s;
}